version: '3.8'

services:
  web:
    container_name: excalidraw-clone-web
    build:
      context: .
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_APP_URL: http://localhost:3000
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    restart: unless-stopped
